body {
    font-family: "Kumbh Sans", sans-serif;
    background-color: #19a2aeff;
}
* {
    box-sizing: border-box;
}
:root {
    --card-background-color: #e9eaedff;
    --p_color: #6a6f81ff;
    --p_bigger-color: #2d3248ff;
    --p_Font_size: 18px;
}
main {
    display: flex !important;
    width: 800px;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
main::before {
    content: "";
    width: 600px;
    height: 600px;
    background-image: url(../images/bg-pattern-top.svg);
    background-size: cover;
    position: absolute;
    top: -60%;
    left: -45%;
    transform: scale(1.4) rotate(353deg);
}
main::after {
    content: "";
    width: 600px;
    height: 600px;
    background-image: url(../images/bg-pattern-top.svg);
    background-size: cover;
    position: absolute;
    bottom: -95%;
    right: -30%;
    transform: scale(1.7) rotate(248deg);
    opacity: .5;
}
@media (max-width: 768px) {
    main {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    main::before {
        width: 500px;
        height: 500px;
        top: -30%;
        left: -76%;
    }
    main::after {
        width: 500px;
        height: 500px;
        bottom: -30%;
        right: -90%;
    }
}
section {
    width: 320px;
    background-color: var(--card-background-color);
    border-radius: 15px;
    box-shadow: 00px 15px 65px -34px black;
    margin-bottom: 20px;
    z-index: 10;
}
@media (max-width: 768px) {
    section {
        width: 350px;
    }
}
section > .image {
    width: 100%;
    height: 150px;
    background-image: url(../images/bg-pattern-card.svg);
    background-size: cover;
    border-radius: 15px 15px 0 0;
    position: relative;
}
section > .image::before {
    content: "";
    width: 96px;
    height: 96px;
    background-image: url(../images/image-victor.jpg);
    border-radius: 50%;
    border: 5px solid var(--card-background-color);
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 0%);
}
section > .person-info {
    text-align: center;
    position: relative;
}
section > .person-info p:nth-child(1) {
    margin-top: 70px;
    margin-bottom: 0;
    font-size: 20px;
    color: var(--p_bigger-color);
    font-weight: 700;
}
section > .person-info p:nth-child(1) span:nth-child(2) {
    display: inline-block;
    margin-left: 10px;
    font-weight: 300;
}
section > .person-info p:nth-child(2) {
    margin: 0;
    padding: 10px 0 30px 0;
    font-weight: 300;
    color: var(--p_color);
    border-bottom: 0.5px solid var(--p_color);
}
section > .card-info {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0;
}
section > .card-info span {
    display: block;
    text-align: center;
}
section > .card-info div > span:nth-child(1) {
    font-size: 25px;
    font-weight: 600;
    color: var(--p_bigger-color);
}
section > .card-info div > span:nth-child(2) {
    line-height: 2;
    letter-spacing: 1.4px;
    font-size: 14px;
    color: var(--p_color);
}
footer {
    padding-top: 20px;
    z-index: 10;
}
footer P {
    width: 60%;
    text-align: center;
    font-size: 13px;
    margin: 0 auto;
    color: #fff;
    line-height: 1.5;
}
footer span {
    font-size: 12px;
    color: var(--p_bigger-color);
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
}
